.user-form {
    display: flex;
    flex-direction: column;
}

.user-form__buton {
    width: fit-content;
    padding: 5px 10px;
    background-color: purple;
    border: none;
    color: white;
    cursor: pointer;
}

.user-form__buton:hover {
    opacity: 0.8;
}

.user-form__input {
    display: inherit;
    flex-direction: inherit;
    margin-bottom: 15px;
}

.user-form__input label {
    font-weight: bold;
    margin-bottom: 5px;
}